<h1>Listando Personas</h1>

<table>
  <tr>
    <th>DNI</th>
    <th>Apellidos</th>
    <th>Nombres</th>
    <th>Fecha de Nacimiento</th>
    <th>Estado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.code %></td>
    <td><%= person.lastname %></td>
    <td><%= person.firstname %></td>
    <td><%= person.birthdate %></td>
    <td><%= person.status %></td>
    <td><%= link_to 'Mostrar', person %></td>
    <td><%= link_to 'Modificar', edit_person_path(person) %></td>
    <td><%= link_to 'Eliminar', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Persona', new_person_path %>
