<h1>Listing people</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Birthdate</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.code %></td>
    <td><%= person.lastname %></td>
    <td><%= person.firstname %></td>
    <td><%= person.birthdate %></td>
    <td><%= person.status %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
