<p id="notice"><%= notice %></p>

<p>
  <b>DNI:</b>
  <%= @person.code %>
</p>

<p>
  <b>Apellidos:</b>
  <%= @person.lastname %>
</p>

<p>
  <b>Nombres:</b>
  <%= @person.firstname %>
</p>

<p>
  <b>F.Nacimiento:</b>
  <%= @person.birthdate %>
</p>

<p>
  <b>Estado:</b>
  <%= @person.status %>
</p>


<%= link_to 'Modificar', edit_person_path(@person) %> |
<%= link_to 'Atras', people_path %>
