<h2>Listando Periodos</h2>

<table>
  <tr>
    <th>Code</th>
    <th>Month</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period.code %></td>
    <td><%= period.month %></td>
    <td><%= period.year %></td>
    <td><%= link_to 'Show', period %></td>
    <td><%= link_to 'Edit', edit_period_path(period) %></td>
    <td><%= link_to 'Destroy', period, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Period', new_period_path %>
