<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @period.code %>
</p>

<p>
  <b>Month:</b>
  <%= @period.month %>
</p>

<p>
  <b>Year:</b>
  <%= @period.year %>
</p>


<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
