<h2>Listando tipos</h2>

<table class="bordered-table">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Status</th>
    <th>Entity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @types.each do |type| %>
  <tr>
    <td><%= type.code %></td>
    <td><%= type.name %></td>
    <td><%= type.status %></td>
    <td><%= type.entity %></td>
    <td><%= link_to 'Show', type %></td>
    <td><%= link_to 'Edit', edit_type_path(type) %></td>
    <td><%= link_to 'Destroy', type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type', new_type_path %>
