<h2>Listando Compañias</h2>

<table class="zebra-striped">
  <tr>
    <th>RUC</th>
    <th>Razón Social</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.code %></td>
    <td><%= company.name %></td>
    <td><%= link_to 'Mostrar', company %></td>
    <td><%= link_to 'Editar', edit_company_path(company) %></td>
    <td><%= link_to 'Eliminar', company, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Compañia', new_company_path %>
