<p id="notice"><%= notice %></p>

<p>
  <b>RUC:</b>
  <%= @company.code %>
</p>

<p>
  <b>Razón Social:</b>
  <%= @company.name %>
</p>


<%= link_to 'Editar', edit_company_path(@company) %> |
<%= link_to 'Atrás', companies_path %>
