<!DOCTYPE html>
<html>
<head>
  <title>AdminRRHH</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.17/themes/ui-darkness/jquery-ui.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js" type="text/javascript"></script>
  <script src="http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js" type="text/javascript"></script>
  <script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js" type="text/javascript"></script>
  
    <style type="text/css">
      body {
        padding-top: 60px;
      }
  
      #jq-books{width:200px;float:right;margin-right:0}
      #jq-books li{line-height:1.25em;margin:1em 0 2.8em;clear:left}
      #home-content-wrapper #jq-books a.jq-bookImg{float:left;margin-right:10px;width:55px;height:70px}
      #jq-books h3{margin:0 0 .2em 0}
      #home-content-wrapper #jq-books h3 a{font-size:1em;color:black;}
      #home-content-wrapper #jq-books a.jq-buyNow{font-size:1em;color:white;display:block;background:url(http://static.jquery.com/files/rocker/images/btn_blueSheen.gif) 50% repeat-x;text-decoration:none;color:#fff;font-weight:bold;padding:.2em .8em;float:left;margin-top:.2em;}
      
    </style>
  
    <script>

  $(function() {
    $( "#accordion" ).accordion();
  });
  </script>

</head>
<body>

	<div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">AdminRRHH</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <p class="pull-right">Logged in as <a href="#">username</a></p>
        </div>
      </div>
    </div>

 <div class="container-fluid">
	<div class="sidebar">
  
    <div id="accordion" class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist">
      <h3><a href="#">Procesos</a></h3>
      <div>
        <ul>
          <li><%= link_to "Aperturar Planilla", "/forms" %></li>
        </ul>
      </div>
  
      <h3><a href="#">Tablas</a></h3>
      <div>
        <ul>
          <li><%= link_to "Compañias", "/companies" %></li>
          <li><%= link_to "Conceptos", "/concepts" %></li>
          <li><%= link_to "Contratos", "/contracts" %></li>
          <li><%= link_to "Entidades", "/entities" %></li>
          <li><%= link_to "Periodos", "/periods" %></li>
          <li><%= link_to "Personas", "/people" %></li>
          <li><%= link_to "Tipos", "/types" %></li>
        </ul>
      </div>

  </div>
</div>

    
	<div class="content">
    <div class="demo">
        <div class="hero-unit">
          <%= yield %>
        </div>
        
        <footer>
          <p>&copy; Company 2012</p>
        </footer>
    </div>
  </div>
</div>



</body>
</html>
